.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  padding: 6px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 2;
  min-width: 200px;
  background-color: white;
  border-top: 2px solid #fd8f5e;
  // border-radius: 0px 15px 15px 15px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

// .dropdown-content a:hover {
//   background-color: #4CAF50;
//   color: #212121;
// }

// .dropdown-content a:focus {
//   background-color: #212121;
//   color: #4CAF50;
// }

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}


.dropdown-content {}

//   End Of Drop DOwn


// Search bar


.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 208px;
  height: 40px;
  padding: 10px;
  transition: 0.2s linear;
  border: 0;
  font-size: 14px;
  letter-spacing: 2px;
  border-bottom: 1px solid;
  background-color: #f2e1d9;
}

.input:focus {
  border: 0;
  outline: 0px;
  border-bottom: 1px solid;
}

// .input:focus {
//   outline: none;
//   border: 0.5px solid black;
//   box-shadow: -5px -5px 0px black;
// }

.input-container:hover>.icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}



nav.navbar.navbar-expand-lg {
  background-color: #f2e1d9;
}

a.nav-link {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd8f5e;
  transition: all .4s;
}


// Bottom ?nav

.header-container {
  height: 75px;
  background-color: #f2e1d9;
  width: 92%;
  margin-left: auto;
}

.img-container {
  height: 571px;
  background-color: #f2e1d9;
  background-image: url(../../Assets/background.png);
  background-repeat: no-repeat;
  background-size: 96% 100%;
}

.card {
  z-index: 1;
  width: 50%;
  min-height: 300px;
  margin-top: 5%;
  padding: 43px 32px 58px 34px;
}

h1.fw-bolder {
  font-size: 60px;
}

form.search-form {
  width: 33%;
  display: flex;
  justify-content: space-between;
}


// HamBurger

// input[type="checkbox"] {
//   -webkit-appearance: none;
//   display: none;
//   visibility: hidden;
// }

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
  background-color: black;
}


.bar span.middle {
  top: 17px;
  background-color: black;
}

.bar span.bottom {
  bottom: 0;
  background-color: black;
}

input[type]:checked~span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked~span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
}

input[type]:checked~span.middle {
  transform: translateX(-20px);
  opacity: 0;
}


// ----- Account Dropdown ----------



img.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 6%;
}

.profile {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}


// ----------- Account DropDown -----------

// -------------- Main Button  -------------- 
.theme-popup__button {
  display: inline-flex;
  align-items: center;
  border: none;
  color: black;
  outline: none;
  font-weight: bold;
  outline: 0;
  transition: all .2s ease-in-out;
}

.theme-popup__button:hover{
  color: #fd8f5e;
}
/* radio settings 👇 */

.theme-popup {
  /* total */
  --total_text_color: #e0e0e0;
  --total_font_family: 'Times New Roman', 'serif';
  /* button */
  --btn_bg: #3A3A3A;
  --btn_padding: 0.5em;
  --btn_height: 2em;
  --btn_border_radius: 0.3125em;
  --btn_outline_width: 0.0625em;
  --btn_outline_color: #A0A0A0;
  --btn_outline_offset: 0.0625em;
  --btn_gap: 0.3125em;
  /* list */
  --list_padding: 0.5em;
  --list_bg: var(--btn_bg);
  --list_border_radius: var(--btn_border_radius);
  --list_gap: 0.1875em;
  --list_btn_hover_bg: #5A5656;
  --list_btn_active: #b9b9b970;
  --list_btn_border_radius: 0.25em;
  --list_btn_padding: 0.35em 1em;
  --list_btn_gap: 0.4375em;
  --list_btn_outline_width: 0.0625em;
  --list_btn_outline_color: rgb(212, 210, 210);
  --list_offset: 0.35em;
  --list_btn_font_size: 14px;
  --list_position_left: 0;
  --list_position_right: unset;
  /* 👆 if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
}

.theme-popup__button .theme-popup__icons svg,
#light,
#dark, 
#default, 
#checkbox,
.theme-popup__list-container {
  display: none;
}

.theme-popup {
  color: var(--total_text_color);
  font-family: var(--total_font_family);
  position: relative;
  user-select: none;
}

.theme-popup__list-container {
  position: absolute;
  left: var(--list_position_left);
  right: var(--list_position_right);
  top: calc(var(--btn_height) + var(--list_offset));
}

.theme-popup__list {
  position: fixed;
  right: 3%;
  background-color: #fff;
  color: #000;
  margin: 0;
  list-style-type: none;
  border-radius: var(--list_border_radius);
  display: flex;
  flex-direction: column;
  row-gap: var(--list_gap);
  padding: 15px 20px;
  a {
    text-decoration: none;
    color: black;
    font-size: large;
    display: block;
    margin: 9px 0px;
  }

  a:hover {
    color: #fd8f5e;
    transition: all .4s;
  }
}

.theme-popup__list label {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: var(--list_btn_gap);
  padding: var(--list_btn_padding);
  border-radius: var(--list_btn_border_radius);
  white-space: nowrap;
}

.theme-popup__list label span {
  font-size: var(--list_btn_font_size);
}

/* actions */

#checkbox:checked~.theme-popup__list-container {
  display: block;
}

#default:checked~.theme-popup__list-container label[for="default"],
#light:checked~.theme-popup__list-container label[for="light"],
#dark:checked~.theme-popup__list-container label[for="dark"] {
  background-color: var(--list_btn_active);
  outline: var(--list_btn_outline_width) solid var(--list_btn_outline_color);
}

#default:checked~label svg.default,
#light:checked~label svg.sun,
#dark:checked~label svg.moon {
  display: block;
}