div.form main {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url(../../Assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

form.forgot-form {
    width: 57%;
    background-color: white;
    min-height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    input{
        height: 62px;
        border-radius: 0px;
        padding: 25px;
    }
    
    a{
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        color: #fd8f5e;
        height: fit-content;
    }
}
